.busca-localidades {
 position: relative;
 float: left;
 width: 100%;
 padding-top: 10px;
 padding-bottom: 2px;
 background: #c7b37f; /* Old browsers */
 background: -moz-linear-gradient(top,  #c7b37f 0%, #f1e8ca 100%); /* FF3.6-15 */
 background: -webkit-linear-gradient(top,  #c7b37f 0%,#f1e8ca 100%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(to bottom,  #c7b37f 0%,#f1e8ca 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7b37f', endColorstr='#f1e8ca',GradientType=0 ); /* IE6-9 */	
}
.leilao-home {
 width: 100%;
 position: relative;
 float: left;
 padding-bottom: 4%;
}
.leilao-home .box-leilao {
 width: 90%;	
 margin: 0 auto;	
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 padding: 2% 5% 0 5%;
}
.leilao-home h1 {
 color: #7b7259;
 margin: 2% 0 -22px 0;
 font-weight: 100;
}
.page-footer h5 {
 font-weight: 100;
 font-size: 1.54rem;
}
.tt-cd-email span {
 width: 80%;
 display: block;
 margin: 0 auto;
}
.tt-cd-email span i {
 float: left;
 color: white;
}
.color-input-cd {
 color: #FFF !important;
}
.tt-cd-email .btn {
 margin-top: 13px; 
}
.icones-app {
 max-width: 128% !important;
}